---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
const homePage = "Home Page";
---

<Layout title="Welcome to Astro.">
  <main class="">
    <h1>{homePage}</h1>
  </main>
</Layout>

<style></style>
