---
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<ul>
  <!-- <li><a href="/posts/post1/">Post 1</a></li>
  <li><a href="/posts/post2/">Post 2</a></li>
  <li><a href="/posts/post3/">Post 3</a></li> -->
  {
    allPosts.map((post) => {
      // console.log(post);
      return (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      );
    })
  }
</ul>

<style>
  a {
    text-decoration: underline;
    font-size: 1.5rem;
  }
</style>
