---
const platform = "github";
const username = "withastro";
import Socials from "./Socials.astro";
---

<footer>
  <p>
    <Socials platform="linkedin" username="tired" />
    <Socials platform="github" username="withastro" />
    <Socials platform="youtube" username="astrodotbuild" />
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
